* { 
    box-sizing: border-box;
  
}


body {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.page-content {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    gap: 50px;
}

.square-container {
    border: solid black 1px;
    display: flex;
    flex: 1 1;
    width: 38rem;
    height: 38rem;
    flex-direction: column;
}

.row { 
    display: flex;
    flex: 1 1;

}

.square {
    flex: 1 1;
    border: solid;
}

.button-container {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  /* border: solid #04AA6D; */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
